html {
    height: max-content;
    padding: 5px;
    width: 220px;
}
.btn-primary {
    float: right;
    background: #1a73e8;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    z-index: 12;
}

button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

body {
    margin: 0px 5px;
    align-items: center;
    vertical-align: middle;
    height: max-content;
    background-color: #f5f4f0;
}

input{
    /* background-color: #eff9e6; */
    color: #012d68;
    font-weight: 500;
    letter-spacing: .5px;
}

div {
    margin: 0px;
}

.label {
    font-family:'Orienta' sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section {
    background-color: #e8e8e8;
    border-radius: 8px;
    padding: 3px;
    max-height: fit-content;
    margin:3px;
}
.inputBox {
    padding:8px;
    margin-bottom:5px;
    margin-top: 1px;;
}
.heading {
    margin-top:2px;
    margin-left:5px;
    margin-bottom:2px;
}

.radiogroup {
    display: flex;
    padding:5px;
    margin-bottom:5px;
}

#pswd {
    margin: 5px 0px;
}

#pin{
    border-radius: 10px;
    padding: 5px 10px 5px 15px;
    outline: none;
    letter-spacing: 0.5px;
    /* border-color: black; */
    font-weight: 900;
    color: #012d68;
    border-width: 1px;
    width: 100%;
    margin-bottom: 1px;
}
h4{
    font-weight: 447;
    font-size: 13.5px;
    /* color: rgb(197, 4, 46); */
}
#ageDisplay{
    display: none;
}

#banner{
    margin: -5px -10px 10px;
    font-size: 1.7em;
    font-weight:600;
    color: white;
    background: #012d68;
    text-align: center;
    /* border-radius: 15px 15px 0px 0px; */
    padding: 7px;
}