html {
    height: max-content;
    padding: 5px;
    width: 220px;
}
.btn-primary {
    float: right;
    background: #48a853;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    z-index: 12;
}

button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

body {
    margin: 0px 5px;
    align-items: center;
    vertical-align: middle;
    height: max-content;
    background-color: #e7e4ec;
}

input{
    /* background-color: #eff9e6; */
    font-weight: 400;
    letter-spacing: .5px;
}

div {
    margin: 0px;
}

.label {
    font-family:'Orienta' sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section {
    background-color: #abb2b552;
    border-radius: 12px;
    padding: 3px;
    max-height: fit-content;
    margin:6px 0px;
}
.inputBox {
    padding:8px;
    margin-bottom:5px;
    margin-top: 1px;;
}
.heading {
    margin-top:2px;
    margin-left:5px;
    margin-bottom:2px;
}

.radiogroup {
    display: flex;
    padding:5px;
    margin-bottom:5px;
}

#pswd {
    margin: 5px 0px;
}

#pin{
    border-radius: 10px;
    padding: 5px 10px 5px 15px;
    outline: none;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #ff000091;
    background-color: #e7e4ec;
    border-width: 1px;
    width: 100%;
    margin-bottom: 1px;
}
h4{
    font-weight: 500;
    font-size: 13.5px;
    /* color: rgb(197, 4, 46); */
}
#ageDisplay{
    display: none;
}

#banner{
    display: flex;
    margin: -5px -10px 10px;
    color: white;
    background: #0b5dcca6;
    align-items: center;
    height: 33px;
    /* justify-content: center; */
}
#main-heading{
    font-size: 1.3em;
    font-weight:585;
    text-align: center;
    padding: 6px;
    margin: 0px;

}